.grid {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 1fr 5%;
  grid-template-rows: 700px 300px 500px 500px;
  grid-gap: 0!important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-style: normal;
  overflow-x: hidden!important;
  color: #414141;
  background-image: url('../img/background-1.png');
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
}
p {
  font-family: 'Merriweather', serif;
  font-weight: 100;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-intro {
  grid-column: 1/9;
  background-image: url('../img/background.jpg');
  background-size: contain;
  height: 700px;
  margin: -10px;
}

.hamburger {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.sidebar {
  background-color: white;
  color: grey;
  position: fixed;
  height: 800px;
  width: 200px;
  left: 0px;
  background-image: url('../img/topography.png');

}

#sidebar_show {
  display: none;
}

.menu-items {
  position: absolute;
  top: 100px;
  font-weight: 700;
  color: white;
  font-size: 11px;
  line-height: 30px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

.logo {
  width: 35%;
  height: 700px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.quote {
  grid-row: 2/3;
  grid-column: 1/9;
  background-image: url('../img/background-3.png');
  margin: -10px;
  padding: 10px;
  padding-left: 25%;
  padding-right: 25%;
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 10px;
}

.intro-text {
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  grid-row: 3/4;
  grid-column: 2/8;
}
